html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
}

.background {
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: 100% 20%;
    opacity: 20%;
    height: 211px;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5.125rem 2.625rem 4.875rem;
    box-sizing: border-box;
}

nav h1 {
    font-size: 2.625em;
    font-weight: 800;
    margin: 0;
}

nav p {
    font-size: 0.875em;
    font-weight: 700;
}

.search-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #2E2E2F;
    height: 38px;
    width: calc(100% - 2.75em * 2);
    gap: 0.5em;
    border-radius: 6px;
    font-family: inherit;
    margin-bottom: 0;
    /* margin: 0 2.75em;
    box-sizing: border-box; */
}

.search-bar i {
    padding-left: 0.8125rem;
    align-self: center;
    color: #9CA3AF;
}

.search-bar input {
    width: 100%;
    background-color: inherit;
    border: none;
    color: #A5A5A5;
}

.search-bar button {
    padding: 0 2.4375rem;
    background-color: #4B4B4B;
    border: none;
    color: #ffffff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-bar input,
.search-bar button {
    font-size: 0.875em;
    font-family: inherit;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button:active {
    transform: scale(95%)
}

.empty-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-section {
    display: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    font-weight: 700;
    color: #2E2E2F; */
}

.movie-section {
    margin: 2.625em;
}

.movie-section img {
    width: 99px;
}

.movie-card {
    display: flex;
    gap: 1.3125em;
}

.movie-card * {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.head {
    display: flex;
}

.head h3 {
    font-size: 1.125em;
}

.content p {
    font-size: 0.75em;
}

.subhead {
    display: flex;
    gap: 1.125em;
}