html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
}

.background {
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: 100% 20%;
    opacity: 20%;
    height: 211px;
    width: 100%;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5.125rem 2.625rem 4.875rem;
    box-sizing: border-box;
}

nav h1 {
    font-size: 2.625em;
    font-weight: 800;
    margin: 0;
}

nav p {
    font-size: 0.875em;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #2E2E2F;
    height: 38px;
    width: calc(100% - 2.75em * 2);
    gap: 0.5em;
    border-radius: 6px;
    font-family: inherit;
    margin-bottom: 0;
    /* margin: 0 2.75em;
    box-sizing: border-box; */
}

.search-bar i {
    padding-left: 0.8125rem;
    align-self: center;
    color: #9CA3AF;
}

.search-bar input {
    width: 100%;
    background-color: inherit;
    border: none;
    color: #A5A5A5;
}

.search-bar input:-webkit-autofill,
.search-bar input:-webkit-autofill:hover,
.search-bar input:-webkit-autofill:focus {
    -webkit-text-fill-color: #A5A5A5;
    -webkit-box-shadow: 0 0 0px 1000px #2E2E2F inset;
    transition: background-color 5000s ease-in-out 0s;
}

.search-bar button {
    padding: 0 2.4375rem;
    background-color: #4B4B4B;
    border: none;
    color: #ffffff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-bar input,
.search-bar button {
    font-size: 0.875em;
    font-family: inherit;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button:active {
    transform: scale(95%)
}

.movie-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-section {
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    font-weight: 700;
    color: #2E2E2F;
}

.empty-section .empty {
    color: #787878;
    margin-bottom: 0;
}

.empty-section .add {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.875rem;
    color: #FFFFFF;
    cursor: pointer;
}

.empty-section .fa-circle-plus {
    font-size: 1.125rem;
}

.movie-section {
    display: none;
    flex-direction: column;
    gap: 1.5em;
    margin: 3.8125em 2.625em;
}

.movie-section img {
    width: 99px;
    border-radius: 2.33px;
}

.movie-card {
    display: flex;
    align-items: center;
    gap: 1.3125em;
    padding-bottom: 1.5em;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie-card * {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.head {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.head h3 {
    font-size: 1.125em;
    font-weight: 500;
}

.content p {
    font-size: 0.75em;
    font-weight: 400;
}

.subhead {
    display: flex;
    align-items: center;
    gap: 1.125em;
}

.fa-star {
    font-size: 0.9375em;
    color: #FEC654;
    margin-right: 0.25em;
}

.fa-circle-plus, .fa-circle-check, .fa-circle-minus {
    font-size: 1rem;
}

.fa-circle-check {
    color: #00FF00;
}

.watchlist {
    display: flex;
    align-items: center;
    gap: 0.125em;
    cursor: pointer;
}

.watchlist * {
    pointer-events: none;
}

.desc {
    line-height: 20px;
    color: #A5A5A5;
}

.read-more, .read-less {
    color: #ffffff;
    cursor: pointer;
}

.read-less, .read-content {
    display: none;
}

.error-section {
    display: none;
    padding: 0 7.1875em;
    color: #787878;
    font-weight: 700;
    font-size: 1.125em;
    text-align: center;
}

@media (min-width: 768px) {
    nav, .search-bar, .movie-section {
        max-width: 800px;
    }
}