html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

header {
    position: relative;
}

.background {
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: 100% 20%;
    opacity: 20%;
    height: 211px;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5.125rem 2.625rem 4.875rem;
    box-sizing: border-box;
}

nav h1 {
    font-size: 2.625em;
    font-weight: 800;
    margin: 0;
}

nav p {
    font-size: 0.875em;
    font-weight: 700;
}

.search-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}